.input_container {
    display: flex;
    align-content: center;
    width: 100%;
}

.input,
.input_password {
    width: 100%;
    padding: 0.3rem 0.5rem 0.3rem 2rem;
    height: 4.3rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 18px;
}

.input_password {
    padding: 0.3rem 3.5rem 0.3rem 2rem;
}

.input:focus,
.input_password:focus {
    outline: none;
    box-shadow: 0 0 3px 2px black;
    border: none;
}

.input_link a {
    display: flex;
    justify-content: end;
    margin-top: 0.6rem;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.input_link a:hover {
    transition: 0.2s;
    color: gray;
}

.button_icon {
    background: transparent;
    border: none;
    width: 2.2rem;
    margin-left: -3rem;
}

.error {
    display: flex;
    color: #cc0000;
    margin-top: 0.6rem;
    margin-left: 0.3rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
