.input_container {
    display: flex;
    align-content: center;
    width: 100%;
}

.input,
.input_password {
    width: 100%;
    padding: 0.3rem 0.5rem 0.3rem 1.5rem;
    height: 3.5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
}

.input_password {
    padding: 0.3rem 3.5rem 0.3rem 1.5rem;
}

.input:focus,
.input_password:focus {
    outline: none;
    box-shadow: 0 0 3px 2px black;
    border: none;
}

.button_icon {
    background: transparent;
    border: none;
    width: 2.2rem;
    margin-left: -3rem;
}
