*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
    height: 100%;
}

html,
body {
    background-color: #eaefee;
    height: 100%;
    font-family: OpenSansRegular;
}

@font-face {
    font-family: OpenSansLight;
    src: url("./assets/fonts/open-sans/OpenSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: OpenSansMedium;
    src: url("./assets/fonts/open-sans/OpenSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: OpenSansBold;
    src: url("./assets/fonts/open-sans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: OpenSansSemiBold;
    src: url("./assets/fonts/open-sans/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: OpenSansBold;
    src: url("./assets/fonts/open-sans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: OpenSansExtraBold;
    src: url("./assets/fonts/open-sans/OpenSans-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: OpenSansItalic;
    src: url("./assets/fonts/open-sans/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
    font-family: OpenSansRegular;
    src: url("./assets/fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
}
